

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Varganov Andrey</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">General</a></li>
        {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'add_news' %}">Add description</a></li>
        {% endif %}
      </ul>

       <span class="navbar-text">
           {% if request.user.is_authenticated %}
           Welcome my site, {{ user.username }} | <a href="{% url 'logout' %}">Exit</a>
           {% else %}

           <a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a>
           {% endif %}
       </span>

    </div>
  </div>
 </nav>